.thanks {
    display: flex;
    flex: 1 1 auto;
}

.thanks__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F2F3F4;
    padding: 30px 80px 30px 80px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.thanks__icon {
    width: 60px;
    height: 60px;
    fill: #1C6CD5;
}

